<div class="container marketing">
  <div class="jumbotron">
    <h1>Traveler</h1>
    <p>Welcome to Traveler, a mini social network for globetrotters.
     <%= link_to t('.sign_up'), sign_up_path %> to start using this awesome website.</p>
  </div>
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Share your trips and photos with friends</h2>
      <p class="lead">Share your favorite trips and photos with your contacts.</p>   
    </div>
    <div class="col-md-5">
      <%= image_tag("demo.JPG", alt:"welcome", class: "featurette-image img-responsive center-block") %>
    </div>
  </div>
  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Share a map of all the places you've visited</h2>
      <p class="lead">Show the different places you've visited on each trip.</p>   
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag("demo.JPG", alt:"trips", class: "featurette-image img-responsive center-block") %>
    </div>
  </div>
</div>