<div class="container">
  <div id="clearance" class="sign-up">
    <%= form_for @user, html: { multipart: true, class: "form-signin" } do |form| %>
      <h2 class="form-signin-heading">Please <%= t('.title') %></h2>
      <%= render partial: '/users/form', object: form %>

      <div class="submit-field">
        <%= form.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>