<div class="user-info">
  <%= image_tag @user.avatar.url(:thumb) %>
  <h2><%= @user.name %></h2>
  <br class="clearleft">
</div>
<div class="trip-info">
  <p>Your trips:</p>
  <div class="well">
    <%= link_to "Add trip", new_user_trip_path(current_user), remote: true, class: "btn btn-primary" %>
  </div>
  <div class="new-trip"></div>

  <table id="trip-table" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Trip</th>
        <th>Dates</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody class="trip-index">
      <%= render @user.trips %>  
    </tbody>
  </table>
</div>
<div id="trip-modal" class="modal hide fade"></div>